* {
    margin: 0;
    padding: 0;
}

Form {
    padding-bottom: 3rem; 
}

.h1 {
    margin: auto;
    margin-bottom: 2rem;
}

.recipe-forms {
    margin: auto;
    max-width: 80vw;
    height: 100vh;
    padding: 1rem;
}


.class-inline {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
}

.class-inline-short {
    display: flex;
    gap: 3rem;
    margin-bottom: 3rem;
}

.spacing {
    margin-bottom: 2rem;
}

.submit-btn {
    background-color: #2A8C82;
    border: none;
}